/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}


/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
/* =============================================================================
  #GENERAL
============================================================================= */
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  min-height: 100%;
  height: 100%;

  font-size: 16px;
  font-size: 62.5%;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-style: normal;

  color: #8C929C;
  font-size: 16px; font-size: 1.6rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

.hide {
  display: none;
  opacity: 0;
}

/* =============================================================================
  #CSS VARIABLES
============================================================================= */
/* #TODO create CSS variables */
:root {
  --container-small-padding: 0 30px;
}

/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1, h2, h3, h4, h5, h6, legend {
  margin-top: 0;
  line-height: 1.1;
  color: #000;
}

h1, h2 { text-shadow: 0 1px 8px rgb(11 39 68 / 50%); }

h1 {
  margin-bottom: 6px;

  font-size: 30px; font-size: 3.0rem;
  font-weight: 800;

  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  font-size: 20px; font-size: 2.0rem;
}

h3 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px; font-size: 2.2rem;
}

h4, legend {
  font-size: 18px; font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 6px;
}

p { line-height: 1.15; }

a {
  color: #549fd7;
  text-decoration: none;
}

strong { font-weight: 700; }

em, i { font-style: italic; }
ul, ol { /* padding-left: 30px; */ }
ul { list-style: none; }
ol { list-style: decimal }

/* =============================================================================
  #FORM
============================================================================= */
form { position: relative; }

  /* #FORM SECTION */
  /* #FIELDSET */
  .form__section { display: block; }

  .form__section + .form__section {
    margin-top: 24px;
    padding-top: 24px;

    border-top: 2px solid #DCE1E8;
  }

  /* #FORM SECTION HEADING */
  .form__label, legend {
    display: block;

    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px; font-size: 1.8rem;
  }

  .form__label-small {
    margin-bottom: 0;

    font-size: 13px; font-size: 1.3rem;
    color: #BAC2CF;
  }

  .home .form__label { font-weight: 600; }

  /* general label */
  label {
    font-size: 16px; font-size: 1.6rem;
    font-weight: 600;
  }

  /* #RADIO FORM SECTION */
  .form__section--radio { }

    /* RADIO BUTTON CONTAINER */
    .form__section--radio label {
      display: block;
      position: relative;
      padding-left: 30px;

      cursor: pointer;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .form__section--radio label + label { margin-top: 8px; }

      /* BRON: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio */
      /* #CUSTOM RADIO BUTTON */
      /* remove default radio button styling */
      .form__section--radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;

        height: 20px;
        width: 20px;

        background-color: #FFF;
        border: 2px solid #DCE1E8;
        border-radius: 50%;
      }

      /* create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* style the indicator (dot/circle) */
      .form__section--radio label .checkmark:after {
        left: 5px;
        top: 1px;

        width: 6px;
        height: 10px;

        border: solid white;
        border-width: 0 2px 2px 0;

        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      /* change color on hover */
      .form__section--radio label:hover input ~ .checkmark {
        border-color: #346ccf;
      }

      /* when the radio button is checked, add a different background-color */
      .form__section--radio label input:checked ~ .checkmark {
        background-color: #346ccf;
        border-color: #346ccf;
      }

      /* Show the indicator (dot/circle) when checked */
      .form__section--radio label input:checked ~ .checkmark:after {
        display: block;
      }

  select {
    display: block;
    width: 100%;

    padding: 0;
    margin: 0;

    font-size: 18px; font-size: 1.8rem;
    font-weight: 700;

    outline: none;
    border: none;
    cursor: pointer;

    /* BRON: https://stackoverflow.com/questions/14218307/select-arrow-style-change */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: transparent url("../images/icons/dropdown-arrow-icon.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
  }

  .results select { font-size: 16px; font-size: 1.6rem; }

  select::-ms-expand { display: none; }

/* =============================================================================
  #TITLE CONTAINER
============================================================================= */
.title-container {
  display: flex;

  justify-content: space-between;

  flex-direction: column;
  align-items: flex-start;

  padding-bottom: 16px;
  margin-bottom: 30px;
  border-bottom: 2px solid #DCE1E8;
}

  .title-container h3 {
    margin-bottom: 0;
  }

  .title-container a {
    margin-top: 6px;

    color: #346CCF!important;
    font-weight: 700;
    text-decoration: underline;
  }

  .title-container p {
    font-size: 18px; font-size: 1.8rem;
    margin-top: 6px;
  }

.results .title-container {
  flex-direction: column;
  align-items: flex-start;
}

  .results .title-container h3 {
    font-size: 24px; font-size: 2.4rem;
  }

/* =============================================================================
  #BANNER
============================================================================= */
.home > header {
  position: relative;

  background-image: url('../images/building-shot.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;

  background-color: #DCE1E8;
}

  /* GRADIENT OVERLAY */
  .home > header::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background: rgb(0,107,218);
    background: linear-gradient(180deg, rgba(0,107,218,1) -120%, rgba(0,107,218,0) 70%);
  }

  /* GRADIENT OVERLAY */
  .home > header::after {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background: rgb(12,32,37);
    background: linear-gradient(180deg, rgb(12 32 37 / 0%) 55%, rgb(12 32 37) 100%);
  }

  /* #HEADER CONTENT */
  .home > header > section:first-of-type {
    padding: 150px 0 108px 0px;
    margin: 0 16px;

    position: relative;
    z-index: 10;
  }

    .home > header > section:first-of-type h1, h2 {
      color: #FFFFFF;
    }

/* =============================================================================
  #SEARCHBAR
============================================================================= */
.searchbar {
  position: absolute;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  padding: 20px;

  color: #000000;

  background-color: #FFFFFF;

  border: 2px solid #DCE1E8;
  border-radius: 0 6px 6px 6px;

  z-index: 10;
}

.home .searchbar { bottom: -50px; }

.results .searchbar {
  display: none;
  opacity: 0;

  position: relative;

  padding: 12px;

  border-radius: 6px 6px 6px 6px;
}

html.xsmall .home .searchbar {
  bottom: -78px;
  flex-direction: column!important;
  border-top-left-radius: 6px;
}

  .searchbar .form__section {
    position: relative;
    width: 100%;
  }

  .searchbar .form__section + .form__section::before {
    content: "";
    position: absolute;

    left: -24px;
    top: 0;
    bottom: 0;

    width: 2px;
    height: 100%;

    background: #DCE1E8;
    border-radius: 6px;
  }

  .results .searchbar .form__section::before { right: -15px; }

  .searchbar .form__section:last-of-type::before { display: none; }

  html.small .searchbar .form__section::before { display: none; }

  .searchbar .form__section + .form__section {
    padding-left: 50px;
    padding-top: 0;
    margin: 0;
    border: none;
  }

  .results .searchbar .form__section + .form__section { padding-left: 30px; }

  .searchbar > .btn { margin-left: 20px; }

  .results .searchbar > .btn {
    font-size: 16px; font-size: 1.6rem!important;
    min-width: auto;
    padding: 12px 24px;
  }

  html.medium .searchbar > .btn,
  html.small .searchbar > .btn {
    width: auto;
    font-size: 18px; font-size: 1.8rem;
  }

  html.xsmall .searchbar > .btn {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

/* =============================================================================
  #FILTER MENU
============================================================================= */
/* #FILTER SECTION */
.results main > section:first-of-type {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  transform: translateX(-100%);

  width: 100%;
  padding-top: 80px;

  background-color: #FFF;

  transition: transform .5s ease-in-out;
  z-index: 500;
}

.results main > section:first-of-type.open {
  transform: translateX(0%);
}

  /* #FILTER HEADER */
  .results main > section:first-of-type > header {
    display: none;
    opacity: 0;
    position: relative;
  }

    .results main > section:first-of-type > header .btn {
      position: absolute;

      left: 50%;
      top: 100%;

      transform: translate(-50%, -50%);
    }

  /* #FILTER CONTAINER */
  .results main > section:first-of-type > section {
    padding: 30px 30px 30px 30px;
    height: calc(100% - 60px);
  }

    /* #FILTER CONTAINER HEADER */
    .title-container--filter {
      align-items: flex-start!important;
      flex-direction: row!important;
    }

      /* RESET FILTERS */
      .title-container--filter a {
        margin: 0!important;
      }

      /* TEXT WRAPPER */
      .title-container--filter > div > h3 {
        margin-bottom: 6px;
      }

/* =============================================================================
  #MAIN
============================================================================= */
main {
  padding-top: 130px;
  padding-bottom: 80px;
}

.results main {
  display: flex;
  padding: 80px 0 0 0;
}

html.medium .home main,
html.small .home main { padding-top: 100px; }
html.xsmall .home main { padding-top: 118px; }

html.medium .home main { margin: 0 5%; }
html.small .home main { margin: 0 24px; }
html.xsmall .home main { margin: 0 16px; }

/* #SECTION INSIDE MAIN */
section + section { margin-top: 80px; }
html.small section + section { margin-top: 50px; }
.results section + section { margin-top: 0!important; }

/* =============================================================================
  #ABOUT NIGHT CITY
============================================================================= */
.home main > section:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  width: 100%;
}

html.medium .home main > section:first-of-type,
html.small .home main > section:first-of-type { flex-direction: column-reverse; }

  .home main > section:first-of-type h3 {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 40px;
  }

  /* IMG CONTAINER */
  .home main > section:first-of-type > picture {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin-right: 60px;

    width: 50%;
    height: 600px;

    background-color: blue;
    background-image: url('../images/martin-kocisek-buildings.jpeg');
    background-size: cover;
    background-position: 30% center;
    background-repeat: no-repeat;
    border-radius: 6px;
  }

  /* OVERLAY */
  .home main > section:first-of-type > picture::before {
    content: "";
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color:  rgba(52,108,207,0.62);
    border-radius: 6px;
  }

  html.medium .home main > section:first-of-type > picture,
  html.small .home main > section:first-of-type > picture {
    width: 100%;
    height: 250px;
    margin-right: 0;
    background-position: center 20%;
    margin-top: 60px;
  }

  html.xsmall .home main > section:first-of-type > picture {
    height: 150px;
    margin-top: 40px;
  }

    .home main > section:first-of-type > picture img {
      position: relative;
      width: 220px;
      height: auto;
    }

    html.medium .home main > section:first-of-type > picture img,
    html.small .home main > section:first-of-type > picture img {
      height: 150px;
      width: auto;
    }

    html.xsmall .home main > section:first-of-type > picture img {
      height: 100px;
      width: auto;
    }

  /* CONTENT CONTAINER */
  .home main > section:first-of-type > div:last-of-type {
    width: 50%;
  }

  html.medium .home main > section:first-of-type > div:last-of-type,
  html.small .home main > section:first-of-type > div:last-of-type {
    width: 100%;
  }

    /* LIST OF REASONS */
    .home main > section:first-of-type ul li {
      display: flex;
      align-items: center;
    }

    html.medium .home main > section:first-of-type ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      margin: -16px;
    }

    html.medium .home main > section:first-of-type ul li {
      width: 50%;
      padding: 16px;
    }

    html.small .home main > section:first-of-type ul li { width: 100%; }

    .home main > section:first-of-type ul li + li { margin-top: 40px; }

    html.medium .home main > section:first-of-type ul li + li { margin: 0; }


/* =============================================================================
  #ICON
============================================================================= */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 55px;
  max-height: 55px;
  min-height: 55px;
  max-height: 55px;

  background-color: #b7d1ff;

  border-radius: 50%;
}

.icon + div { margin-left: 24px; }

html.small .icon {
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
  max-height: 40px;
}

  .icon img {
    width: 33px;
    height: auto;
  }
/* =============================================================================
  #CARDS
============================================================================= */
/* #CARD SECTION WRAPPER */
.results main > section:last-of-type { width: 100%; }

  /* CARD SECTION WRAPPER HEADER */
  .results main > section:last-of-type > header {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    z-index: 600;
  }

  /* FILTER AND CARD SECTION HEADERS SAME STYLING */
  .results main > section:last-of-type > header,
  .results main > section:first-of-type > header {
    height: 80px;
    width: 100%;

    border-bottom: 2px solid #DCE1E8;
    background-color: #FFF;
  }

  /* HOME BTN FOR MOBILE IN CARD SECTION HEADER */
  #mobile-home-btn {
    position: absolute;

    left: 30px;
    top: 50%;

    transform: translateY(-50%);
  }

/* #CARD SECTION */
.results .card-section { padding: 30px; }

  .card-section ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin: -16px;
  }

    .card-section ul li {
      flex-basis: calc(100% / 3);
      padding: 16px;
    }

    html.xsmall .card-section ul li { flex-basis: 100%; }

    /* only show first 4 cards */
    html.medium .home .card-section ul li:nth-of-type(n+5),
    html.small .home .card-section ul li:nth-of-type(n+5) { display: none; }

    /* only show first 3 cards */
    html.xsmall .home .card-section ul li:nth-of-type(n+4) { display: none; }

    html.medium .card-section ul li,
    html.small .card-section ul li { flex-basis: calc(100% / 2); }

      .card-section ul li a {
        display: block;

        color: #8C929C;

        transition: all 300ms ease-in-out;
      }

      .card-section ul li a:hover { transform: scale(1.02); }

    /* #TODO convert to min-width */
    @media only screen and (max-width: 530px) {
      .card-section ul li { flex-basis: 100%!important; }
      /* only show first 3 cards */
      .home .card-section ul li:nth-of-type(n+4) { display: none; }
    }

      .card-section figure {
        position: relative;
        text-align: right;
      }

        /* #CARD SECTION IMG CONTAINER */
        .card-section figure > picture {
          display: block;
          background-color: #D8DDE6;
          border-radius: 6px;
        }

          .card-section figure > picture img {
            border-radius: 6px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          /* #PRICE TAG */
          .card-section figure > picture + p {
            display: inline-flex;
            align-items: center;

            background-color: #FFFFFF;
            padding: 6px 10px;

            border-radius: 6px;

            font-size: 17px; font-size: 1.7rem;
            color: #346CCF;
            font-weight: 700;

            transform: translateY(calc(-100% - 16px));
            position: absolute;
            right: 16px;
          }

          html.small .card-section figure > picture + p {
            font-size: 20px; font-size: 2.0rem;
          }

          /* #PRICE PERIOD */
          .card-section figure > picture + p > span {
            font-size: 15px; font-size: 1.5rem;
            color: #8C929C;
            font-weight: 400;
            margin-left: 4px;
          }

          html.small .card-section figure > picture + p {
            font-size: 16px; font-size: 1.6rem;
          }

          /* #TODO convert to min-width */
          @media only screen and (max-width: 530px) {
            .card-section figure > picture + p {
              font-size: 20px; font-size: 2.0rem!important;
            }

            .card-section figure > picture + p > span {
              font-size: 17px; font-size: 1.7rem!important;
            }
          }

        .card-section figure > figcaption {
          margin-top: 16px;
          text-align: left;
        }

          .card-section figure > figcaption h4 {
            margin-bottom: 3px;
            font-size: 18px; font: 1.8rem;
          }

          /* override styles for specific breakpoint */
          @media only screen and (max-width: 530px) {
            .card-section figure > figcaption h4 {
              font-size: 20px; font: 2.0rem;
            }

            .card-section figure > figcaption p {
              font-size: 18px; font-size: 1.8rem;
            }
          }

/* =============================================================================
  #HAMBURGER MENU
============================================================================= */
.hamburger-menu {
  display: flex;
  opacity: 1;

  position: absolute;

  top: 50%;
  right: 30px;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 45px;
  height: 45px;

  border-radius: 50%;

  transform: translateY(-50%);

  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  background-color: #346CCF;
  z-index: 550;
}

  /* BRON: https://codepen.io/designcouch/pen/Atyop*/
  .hamburger-menu span {
    display: block;

    height: 3px;
    width: 24px;

    background: #FFF;
    border-radius: 9px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
  }

  .hamburger-menu span + span {
    margin-top: 5px;
  }

  .open #bar-1 {
    transform: rotate(-45deg) translate(-6px, 5px);
  }

  .open #bar-2 { opacity: 0;}

  .open #bar-3 {
    transform: rotate(45deg) translate(-6px, -5px);
  }

/* =============================================================================
  #BUTTON
============================================================================= */
.btn {
  display: inline-block;

  padding: 12px;
  min-width: 120px;

  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
  font-size: 18px; font-size: 1.8rem;

  background-color: #346CCF;
  border-radius: 6px;

  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

html.small .btn {
  display: block;
  width: 100%;
  font-size: 16px; font-size: 1.6rem;

  padding: 12px;
}

.btn--secondary {
  border: 2px solid #DCE1E8;
  background-color: #FFF;
  color: #346CCF;
}

.results .btn { font-size: 16px; font-size: 1.6rem; }

html.small .results .btn { width: auto; }

/* #TOGGLE BUTTON */
.toggle {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  transform: translate(-2px, calc(-100% - 2px));

  background-color: transparent;
}

html.xsmall .toggle {
  display: none;
  opacity: 0;
}

  .toggle::before {
    content: "";
    position: absolute;
    top: 0;

    transform: translateX(0);

    height: 100%;
    width: 50%;

    background-color: #346CCF;
    border-top-left-radius: 6px;

    transition: .3s cubic-bezier(0,0,0,1);
  }

  .toggled::before {
    transform: translateX(100%);
    border-top-right-radius: 6px;
    border-top-left-radius: 0px;
  }

  .toggle__option {
    display: flex;
    justify-content: center;

    padding: 16px 35px;
    min-width: 125px;

    font-weight: 600;
    color: #BAC2CF;

    background-color: #FFF;

    cursor: pointer;
    transition: color 50ms ease-in-out;
  }

  .toggle__option:first-of-type { border-top-left-radius: 6px; }
  .toggle__option:last-of-type { border-top-right-radius: 6px; }
    .toggle__option p { position: relative; }
  .toggle__option--active { color: #FFF; }
/* =============================================================================
  #FOOTER
============================================================================= */
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;

  text-align: center;

  background-color: #346CCF;
}

  footer h3 {
    color: #FFF;
    margin-bottom: 40px;
  }

  footer > picture {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 30px 60px 30px;
  }

  /* #TODO conver to min-width */
  @media only screen and (max-width: 530px) {
    footer > picture { flex-direction: column; }
    footer > picture img + img { margin-top: 60px; }
  }

  html.medium footer > picture { width: 85%; }
  html.small footer > picture { width: 100%; }

    footer > picture img {
      height: 90px;
      width: auto;
    }

    html.small footer > picture img {
      height: 80px;
      width: auto;
    }

    footer > picture img + img { margin-left: 150px; }

    html.medium footer > picture img + img,
    html.small footer > picture img + img { margin-left: 0; }


  footer > section {
    background-color: #FFF;
    padding: 30px 0;
    text-align: center;
    width: 100%;
  }

/* =============================================================================
  #MEDIAQUERIES
============================================================================= */
/* #XSMALL SIZE */
@media only screen and (min-width: 530px) {
  .title-container {
    align-items: center;
    flex-direction: row;
  }

  .title-container a {
    margin-top: 0px;
  }
}

/* #SMALL SIZE */
@media only screen and (min-width: 600px) {
  .home > header > section:first-of-type {
    margin: 0 24px;
    padding-top: 150px;
  }


  /* FILTER SECTION */
  .results main > section:first-of-type {
    width: 60%;
    z-index: 850;
    padding: 0;
    border-right: 2px solid #DCE1E8;
  }

    /* FILTER HEADER */
    .results main > section:first-of-type > header { height: 40px; }

    /* FILTER CONTAINER */
    .results main > section:first-of-type > section { padding: 30px; }
}

/* #MEDIUM SIZE */
@media only screen and (min-width: 780px) {
  h1 { font-size: 36px; font-size: 3.6rem; }
  h2 { font-size: 22px; font-size: 2.2rem; }

  .home > header > section:first-of-type { margin: 0 5%; }

  #property-selection { display: inline-block; }


  /* FILTER SECTION */
  .results main > section:first-of-type {
    width: 40%;
    padding-top: 0px;
    z-index: 850;
  }

    /* FILTER HEADER */
    .results main > section:first-of-type > header {
      height: 50px;
      display: block;
      opacity: 1;
    }

    /* FILTER CONTAINER */
    .results main > section:first-of-type > section {
      padding: 50px 30px 30px 30px;
    }

  .results main { padding: 100px 0 0 0; }

  .results .searchbar {
    display: flex;
    opacity: 1;

    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    transform: none;
  }

  /* CARD SECTION WRAPPER */
  .results main > section:last-of-type > header {
    height: auto;
    padding: 12px 105px 12px 30px;
    z-index: 400;
  }

  #mobile-home-btn {
    display: none;
    opacity: 0;
  }
}

/* #LARGE SIZE */
@media only screen and (min-width: 1150px) {
  h1 {
    font-size: 42px; font-size: 4.2rem;
    margin-bottom: 4px;
  }
  h2 { font-size: 26px; font-size: 2.6rem; }
  h3 { font-size: 28px; font-size: 2.8rem; }

  select { display: inline-block; }

  .home > header > section:first-of-type {
    margin: 0 10%;
    padding: 200px 0 120px 0px;
  }

  .home main { margin: 0 10%; }
  .results main { padding-top: 0px; }

  #property-selection, #price-selection { display: inline-block; }

  /* FILTER SECTION */
  .results main > section:first-of-type {
    position: static;
    transform: translateX(0);
    width: 25%;
    border: none;
  }

    /* FILTER HEADER */
    .results main > section:first-of-type > header .btn {
      display: block;
      opacity: 1;
    }

    /* FILTER CONTAINER */
    .results main > section:first-of-type > section {
      padding: 30px;
      border-right: 2px solid #DCE1E8;
    }

    /* NEW NAME */
    .hamburger-menu {
      display: none;
      opacity: 0;
    }

  /* CARD SECTION WRAPPER */
  .results main > section:last-of-type { width: 75%!important; }

  .results .card-section,
  .results main > section:first-of-type > section {
    padding: 60px 30px 30px 30px;
  }

  /* CARD SECTION WRAPPER HEADER */
  .results main > section:last-of-type > header { position: relative; }

  .results main > section:last-of-type > header,
  .results main > section:first-of-type > header { height: 60px!important; }

  .results .searchbar {
    position: absolute;
    left: 30px;
    right: 30px;

    top: 100%;

    transform: translateY(-50%);
  }

  /* FILTER CONTAINER */
  .results main > section:first-of-type > section  {
    border-right: 2px solid #DCE1E8;
  }
}

/* #XLARGE SIZE */
@media only screen and (min-width: 1440px) {
  .home > header > section:first-of-type { margin: 0 18%; }
  .home main { margin: 0 18%; }
}
